body{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:azure;
} 
p,span{
    font-size:30px;
    

} 
button{
    background-color: rgb(72, 42, 100);
    color: whitesmoke;
    border: 2px solid black;
    padding:10px;
    cursor: pointer;

}
#btn:hover{
    background-image: linear-gradient(rgb(112, 83, 134),rgb(39, 2, 72));
}
#section{
    background-color: rgb(60, 57, 57);
    
    height:500px;
}
