.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:rgba(57, 57, 139, 0.701);
    padding: 1%;
    margin: 10%;
    
    border-radius: 20px;
    box-shadow: 10px 10px 5px 5px rgba(143, 202, 205, 0.516);
    margin-bottom:0px;
}

h2 {
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: azure;
    text-align: center;
    margin-top: 0%;
    margin-bottom:5px;
}

#number {
    margin-left: 30%;
    margin-right: 30%;
    font-size: 20px;
    padding: 10px;
}

#convert-btn {
    margin-left: 30%;;
    margin-right: 30%;
    margin-top: 0px;
    padding: 10px;
    font-size: 20px;
    background-color: navy;
    color: white;
    border: none;
    cursor: pointer;
}

#convert-btn:hover {
    background-color: darkblue;
}

#output {
    margin-left: 50%;
    margin-right: 50%;
    margin-top: 15px;
    font-size: 50px;
    color: black;
   
}
body{
    background-image: url("https://news.mit.edu/sites/default/files/images/202208/MIT-MathProblemSolver-01-press.jpg");
}
